body {
    background-color: #555;
    color: #eee;
    font-family: sans-serif;
    padding: 8px 3%
}

.text-center {
    text-align: center;
}

p span {
    background-color: #222;
    padding: 2px 4px;
    color: rgb(132, 4, 4);
}